<h2>About</h1>
<p>
HayMakerX is home to many cryptocurrency fantasy leagues. Players can trade
their coins through a Binance exchange simulator in an effort to improve their
portfolio. The portfolio with the highest percentage gain wins.
</p>

<p>Join an existing league or create your own. Go Big or Down Swinging!</p>
