<div class="columns is-centered">
  <div class="column is-8">
    <div class="box">
      <h1 class="title">About</h1>
      <p class="content">
      HayMaker hosts cryptocurrency paper trading
      competitions. Each competition is encapsulated within a league. In
      addition to paper trading, there is an additional competition to survive
      each round through our fistfight feature.
      </p>
      <p class="content">Join an existing league or create your own.</p>
      <p class="content" >Go Big or Down Swinging!</p>
    </div>
  </div>
</div>
