<h1>About</h1>
<p>
  HayMakerX is home to many cryptocurrency fantasy leagues. Join an existing
  league or create your own. 
</p>

<p>
  Trade hard, sleep easy.
</p>


<h1>Contact Us</h1>

<p>
  Email: support@haymakerx.com
</p>
