<h2>About</h1>
<p>
MakerX is similar to fantasy football. Instead of users choosing players to field a football team, users select a stack of cryptocurrencies and complete with other stacks. Haymakers can trade coins inside their stack through exchange simulators in an effort to improve their position. 
</p>

<p>Join an existing league or create your own. Go Big or Down Swinging!</p>