<div class="columns is-centered">
  <div class="column is-8">
    <div class="box">
      <h1 class="title">Balances</h1>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Total USDT Estimate</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= number_to_currency(@users_stats[@league_user][:cash])%>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Quantity</th>
              <th>USDT</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Symbol</th>
              <th>Quantity</th>
              <th>USDT</th>
            </tr>
          </tfoot>
          <tbody>
            <% @balances.each do |coin| %>
              <tr>
                <td><%= coin[:symbol]%></td>
                <td><%= number_with_delimiter coin[:quantity]%></td>
                <td><%= number_with_delimiter coin[:value]%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
