$table-striped-row-even-background-color: #0b6892;
$table-striped-row-even-hover-background-color: #0b6892;
$table-color: #bbe1ff;
$table-background-color: transparent;
$table-row-hover-background-color: black;
$table-striped-row-even-hover-background-color: white;
$table-striped-row-even-background-color: #2b5876;
$tabs-link-active-color: #ffffff;
$tabs-link-active-border-bottom-color: white;
$tabs-border-bottom-color: black;
$tabs-link-color: black;
$tabs-link-hover-color: white;
$title-color: #bbe1ff;

@import "bulma";


html {
  background-color: transparent;
}

#inner_body {
  min-height: 75.5vh;
  background: #19547b;
  // background: -webkit-linear-gradient(to right,#19547b, #2C5364,#2C5364,#19547b);
  // background: linear-gradient(to right, #19547b, #2C5364,#2C5364,#19547b);
  color: #bbe1ff;
}

.card {
  background: #0b6892;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  max-width: 50%;
  position: unset;
  margin: auto;
  border: none;
}

.card-footer{
  border-top: 0;
}

.button {
  color: #bbe1ff;
  background: #4B79A1;
  border: none;
  &:hover {
    background-color: #3273dc;
    color: #bbe1ff;
  }
}

.buttons.has-addons .button:not(:last-child) {
    margin-right: .1em;
}

.trade-btn {
  background-color: black;
}

.box {
  background: transparent;
  color: #bbe1ff;
  box-shadow: none;
  background: #0b6892;
}

.withdrawal {
  background: hsl(48, 100%, 67%);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.center {
  text-align: center;
}

.cancel_edit {
  margin-top: 2em;
}

a {
  color: #00b5ff;
  &:hover {
    color: black;
  }
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.notice {
  color: greenyellow;
}

.index {
  margin-left: 5%;
}

.index_title {
  margin-left: 1.5em;
}

.index_titles {
  border-bottom-style: solid;
  padding-right: 20px;
  margin-left: 10px;
}

.index_values {
  margin-left: 10px;
  padding-right: 20px;
  text-align: center;
  border-bottom-color: #0082c8;
  border-bottom-style: solid;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.container-fluid {
  // background: white;
  padding-left: 5em;
  padding-right: 5em;
}

.content-right {
  text-align: right;
}

content-left {
  text-align: left;
}

.menu {
  background-color: #D7DDE8;
}

.ko {
  text-decoration: line-through;
  color: #a5a5a5;
}

.margin-left {
  margin-left: auto !important;
}

.margin-right {
  margin-right: auto !important;
}
