@import "bulma";

#inner_body {
  min-height: 75.5vh;
  background: #56ab2f;
}

.card {
  background: linear-gradient(to right, #3CA55C, #56ab2f, #56ab2f, #3CA55C);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  max-width: 50%;
  position: unset;
  margin: auto;
  background-color: transparent;
  border: none;
}

.button {
  color:green;

  &:hover {
    background-color: whitesmoke;
  }
}

.level-item {
   background-color: white;
   &:hover {
     background-color: whitesmoke;
   }
}

.withdrawal {
  background: hsl(48, 100%, 67%);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.table {
  background: linear-gradient(to right, #3CA55C, #56ab2f, #56ab2f, #3CA55C);
  color: #4a4a4a;
}

html {
  background-color: transparent;
}
.center {
  text-align: center;
}

.cancel_edit {
  margin-top: 2em;
}

a {
  color: #6be585;
  &:hover {
    color: white;
  }
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.notice {
  color: greenyellow;
}

.index {
  margin-left: 5%;
}

.index_title {
  margin-left: 1.5em;
}

.index_titles {
  border-bottom-style: solid;
  padding-right: 20px;
  margin-left: 10px;
}

.index_values {
  margin-left: 10px;
  padding-right: 20px;
  text-align: center;
  border-bottom-color: #0082c8;
  border-bottom-style: solid;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.container-fluid {
  background: white;
  padding-left: 5em;
  padding-right: 5em;
}
