html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- some margin are still there even though it's hidden */
}

input[type=number] {
   -moz-appearance: textfield;
}

.chart-page {
    background: red;
}
.league_title {
}

table {
  margin: 0 auto;
}

th {
  padding: 1em;
}

.fas {
  &.fa-arrow-up {
      visibility: hidden;
  }

  &.fa-arrow-down {
      visibility: hidden;
  }
}

input {
  outline-color: black;
}

.buy_side {
  background-color: #149a19;
  background: linear-gradient(to right, #149a19 50%, transparent 0);
  min-width: 1em;
  background-size: 0.8em auto;
  background-repeat: no-repeat;
}

.sell_side {
  background-color: #de6161;
  background: linear-gradient(to right, #de6161 50%, transparent 0);
  min-width: 1em;
  background-size: 0.8em auto;
  background-repeat: no-repeat;
}

.coin_list_options {
  background: #19547b;
  background: -webkit-linear-gradient(to right, #19547b, #0b6892);
  background: linear-gradient(to right, #19547b, #0b6892);
}

.inline_block_s {
  display: inline-block;
}

#coin_0_balance_label {
  margin-right: 1em;
}

#coin_1_balance_label {
  margin-right: 1em;
}

.balance_pair_values_div{
  width: 150px;
}

#price_label {
}

#balance_sec {
  min-height: 208px
}

#price_limit {
  margin-bottom: 3em;
}

#price_target {
  margin-bottom: 3em;
}

#price_limit_container {
  margin-top: -2em
}

.ao_sign_totals {
  display: block
}

#ao_0 {
  visibility: hidden;
  color: white;
  font-size: 0.8em;
  min-height: 4em;
}

#ao_1 {
  visibility: hidden;
  color: white;
  font-size: 0.8em;
  min-height: 4em;
}

#trading_pair {
  border: solid;
  text-align: center;
  width: 9em;
  margin: auto;
}

#exchange {
  margin-top: 0px;
}

.current_league a{
  color: white;
}

.block_sec {
  padding: .5em .7em 0em .7em;
}

#past_orders_title {
  margin-right: auto
}

#buy_btn {
  background: rgb(20, 154, 25);
  color: #f5ebcd;
}

#custom_order {
  margin-left: 3.6em;
}

#buy_sell_btns {
  margin-left: 2.75em;
  margin-top: 1em;
}

#sell_btn {
  color: #f5ebcd;
}

#capital_percentage {
  margin-top: 1em;
  label {
    font-size: 0.7em;
    padding: .4em;
  }
}

.cap_btns {
  width: 2.5em;
  &:hover {
    background: "#ACB6E5";
  }
}

#allocation_box {
  margin: 1em;
  margin-left: 2.3em;
}

#order_btn {
  display: block;
  background: rgb(20, 154, 25);
  color: #f5ebcd;
  margin-left: auto;
  margin-right: auto;
}

#coin_quantity {
  width: 10em;
  margin-left: 1em;
}


#amount_label {
  font-weight: normal;
}

#exchange_info {
  background: #19547b;
  background: linear-gradient(to right,#2C5364, #19547b, #19547b,#19547b, #2C5364);
}

#price_limit_max {
  margin-right: .2em;
}
.spinner {
  height: 15px;
  display: inline-block;
  >div {
    background-color: black;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* grid system -- mobile first! */
.wrapper {
  display: grid;
  align-items: center;

  #order_sec {
    padding-top: 0.5em;
    height: 30.09em;
    border-top: solid thin;
    background:  #2C5364;
    background: transparent;
  }

  .coin_list_table,
  .coin_list_table table {
    max-width: 14.7em;
    max-height: 41em;
    overflow-y: auto;
  }

}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .6fr .6fr .6fr .1fr;
  }

  .order_and_balance_info {
    grid-row: 1/4;
    grid-column: 1/2;
    align-self: start;
    justify-self: end;
    width: 13em;
    background: #19547b;
    background: -webkit-linear-gradient(to left, #19547b, #0b6892);
    background: linear-gradient(to left, #19547b, #0b6892);
  }

  #balance_block {
    grid-row:1/2;
    grid-column: 1/2;
    align-self: end;
    justify-self: end;
    background: transparent;
  }
  .tradingview-widget-container {
    grid-row: 1/3;
    grid-column: 2/3;
    justify-self: center;
    align-self: start;
  }
  #past_orders {
    grid-column: 2/3;
    grid-row: 3/4;
    height: 16em;
    overflow-y: hidden;
    justify-content: center;
    align-self: start;
    background: #19547b;
    margin-left: 2em;
    margin-right: 2em;
  }

  #price_target_label {
    display: block;
  }

  #direction_div {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .orders {
    height: 13em;
    overflow-y: auto;
  }

  .base_coins {
    grid-row: 1/4;
    grid-column: 3/4;
    height: 42.9em;
    justify-self: left;
    width: 13em;
    align-self: start;
    overflow-y: hidden;
    background: #19547b;
    background: -webkit-linear-gradient(to right, #19547b, #0b6892);
    background: linear-gradient(to right, #19547b, #0b6892);
  }

  #tradingview_7ef5b {
    height: 25.6em;
    width: 90vh;
  }
}
