

html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- some margin are still there even though it's hidden */
}

input[type=number] {
   -moz-appearance: textfield;
}

.chart-page {
    background: red;
}
.league_title {
}

table {
  margin: 0 auto;
}

th {
  padding: 1em;
}

.fas {
  &.fa-arrow-up {
      visibility: hidden;
  }

  &.fa-arrow-down {
      visibility: hidden;
  }
}

input {
  outline-color: black;
}

.inline_block_s {
  display: inline-block;
}

#coin_0_balance_label {
  margin-right: 1em;
}

#coin_1_balance_label {
  margin-right: 1em;
}

.balance_pair_values_div{
  width: 150px;
}

#price_label {
}

#ao_0 span,
#ao_0 div {
  visibility: hidden;
  color: #ACB6E5;
  font-size: 0.8em;
}

#ao_1 span,
#ao_1 div {
  visibility: hidden;
  color: #ACB6E5;
  font-size: 0.8em;
}

#trading_pair {
  border: solid;
  text-align: center;
  width: 9em;
}

#exchange {
  margin-top: 0px;
}

.current_league a{
  color: white;
}

.block_sec {
  padding: .5em .7em 0em .7em;
}

#coin_price {
  color: black;
  margin-bottom: 2em;
  margin-left: 1.7em;
}

#buy_btn {
  margin-bottom: 1em;
  background: #ACB6E5;
  border-style: outset;
  margin-right: 2em;
}

.balance_pair_values {
 color: black;
}


.buy_sell_btns {
  outline: none;
}

#sell_btn {
  margin-right: 10px;
  background: transparent;
  border-style: inset;
}

#capital_percentage {
  margin-top: 1em;
  label {
    border-style: outset;
    border-width: thin;
    font-size: 0.55em;
    padding: .4em;
    background: transparent;
  }
  input {
    opacity: 0;
    position: absolute;
    margin-top: .4em;
    cursor: pointer;
    margin-left: -2em;
    width: 45px;
    height: 20px;
  }
}

#allocation_box {
  margin: 1em;
}

#order_btn {
  display: block;
  outline: none;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #ACB6E5;
  border-style: groove;
  margin-left: 2.5em;
}

#coin_quantity {
  width: 10em;
  margin-left: 1em;
}


#amount_label {
  font-weight: normal;
}


.spinner {
  height: 15px;
  display: inline-block;
  >div {
    background-color: black;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* grid system -- mobile first! */
.wrapper {
  display: grid;
  align-items: center;

  #order_sec {
    padding-top: 1em;
    border-top: solid thin;
    background: linear-gradient(to top, #108dc7, #0082c8, #0082c8);
  }
  #balance_block {
    background: linear-gradient(to bottom, #108dc7, #0082c8, #0082c8);
  }

  .coin_list_table,
  .coin_list_table table {
    margin-top: 2vh;
    max-height: 40vh;
    max-width: 14.7em;
    overflow-y: scroll;
  }

}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .1fr .3fr .3fr;
  }

  .league_and_exchange_info {
    justify-self: center;
    grid-column: 2/4;
    margin-bottom: 1em;
  }

  .order_and_balance_info {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
    justify-self: end;
    width: 200px;
  }

  #balance_block {
    grid-row:2/3;
    grid-column: 1/2;
    align-self: end;
    justify-self: end;
  }
  .tradingview-widget-container {
    grid-row: 2/4;
    grid-column: 2/4;
    justify-self: center;
    align-self: start;
  }
  #past_orders {
    grid-column: 2/4;
    grid-row: 3/4;
    justify-content: center;
    align-self: start;
  }

  .base_coins {
    grid-column: 4/5;
    grid-row: 2/3;
    max-height: 45vh;
    min-height: 45vh;
    max-width: 14.7em;
    align-self: start;
    overflow-y: hidden;
  }

  #tradingview_7ef5b {
    height: 36vh;
    width: 70vh;
  }
}
