// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.is-horizontal {
  .field {
    padding-right: 1em;
  }
}

.input {
  max-width: 22em;
}

.notification {
  background-color: black
}

.loan_fees {
  color: white
}

.fist{
  height: 2.5em;
  &:hover {
    cursor: pointer;
  }
}

.is-what-title {
  display: inline-block;
}

.type-action {
  width: 6.2em;
}

.count-action {
 width: 2.3em;
}

.status-action {
  width: 4.3em;
}

.stat-line {
  color: black
}

.fistfights-table {
  max-height:  29em;
  overflow-y: auto;
}

.white {
  color: white;
}

/* Mobile Landscape Screen Sizes */
// @media only screen and (min-width: 480px)  {
// }

/* table Screen Sizes */
@media only screen and (min-width: 750px)  {
  .orders-box{
    min-width: 18em;
    min-height: 32em;
  }
  .order-box {
    min-height: 32em;
  }
  #tradingview_9766d {
    min-width: 31em;
    min-height: 29em;
  }
  .chart-box {
    min-height: 32em;
  }

  .league_info_box,
  .fistfight-box,
  .actions-box {
    min-height: 35em;
  }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 1024px) {
}
