<footer class='footer'>
  <ul>
    <li>support@haymakerx.com</li>
    <li><%= link_to 'Twitter', 'https://twitter.com/thehaymakerx' %></li>  
    <li><%= link_to 'Reddit', 'https://www.reddit.com/r/haymakerx/' %></li>
    <li><%= link_to 'Github', 'https://github.com/RonWalker22/haymakerx' %></li>
    <li><%= link_to 'Medium', 'https://medium.com/@haymakerx' %></li>
  </ul>
</footer>