<p id="notice"><%= flash[:notice] %></p>
<h1>Editing Player</h1>

<%= render 'form', player: @player %>
<div>
  <%= link_to "Cancel Edit", @player %>
</div>
<div id="delete-account">
  <% if logged_in? && current_player?(@player) %>
  <%= link_to icon('fas', 'minus-circle', text = "Delete Account"), 
          @player, method: :delete, 
          data: { confirm: 'Are you sure you want to delete your account?'} %>
  <% end %>
</div>