@import "bulma";
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";

#inner_body {
  min-height: 75.5vh;
  background: #0082c8;
}

.withdrawal {
  background: hsl(48, 100%, 67%);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.table {
  background: linear-gradient(to right, #108dc7, #0082c8, #0082c8, #108dc7);
}

html {
  background-color: transparent;
}
.center {
  text-align: center;
}

.cancel_edit {
  margin-top: 2em;
}

a {
  color:#ACB6E5;
  &:hover {
    color:white;
  }
  &:visited {
    color:#ACB6E5;
  }
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.notice {
  color: greenyellow;
}

.index {
  margin-left: 5%;
}

.index_title {
  margin-left: 1.5em;
}

.index_titles {
  border-bottom-style: solid;
  padding-right: 20px;
  margin-left: 10px;
}

.index_values {
  margin-left: 10px;
  padding-right: 20px;
  text-align: center;
  border-bottom-color: #0082c8;
  border-bottom-style: solid;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.container-fluid {
  background: white;
  padding-left: 5em;
  padding-right: 5em;
}
