@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

 body {
  background: #0082c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1c92d2,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#0082c8,#1c92d2, ); /* W3C,
  IE 10+/
  Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1.3em;
}

.center {
  text-align: center;
}

#inner_body {
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: 1em;
}

header {
  background: #d6f5d6;
}

a:visited {
  color:#ACB6E5;
}

a:hover {
  color:white;
}

a {
  color:#ACB6E5;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.notice {
  color: greenyellow;
}

.index {
  margin-left: 5%;
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.index_title {
  margin-left: 1.5em;
}

.index_titles {
  border-bottom-style: solid;
  padding-right: 20px;
  margin-left: 10px;
}

.index_values {
  margin-left: 10px;
  padding-right: 20px;
  text-align: center;
  border-bottom-color: #0082c8;
  border-bottom-style: solid;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.container-fluid {
  background: white;
  padding-left: 5em;
  padding-right: 5em;
}