@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

 body {
  background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #00802b;
}

.center {
  text-align: center;
}

#inner_body {
  margin: 4em 10em 4em 10em;
}

header {
  background: #d6f5d6;
}

a:visited {
  color:#ccff66;
}

a:hover {
  color:white;
}

a {
  color:#ccff66;
}

ul {
  list-style-type: none;
}

#index {
  margin-left: 5%;
}

#index_title {
}

.index_titles {
  border-bottom-style: solid;
  padding-right: 20px;
  margin-left: 10px;
}

.index_values {
  margin-left: 10px;
  padding-right: 20px;
  text-align: center
}

.navbar-brand {
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.container-fluid {
  background: #eafaea;
}