// Place all the styles related to the Exchanges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- some margin are still there even though it's hidden */
}

.chart-page {
    background: red;
}
.league_title {
}

table {
  margin: 0 auto;
}

th {
  padding: 1em
}

.up_arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-left: 0.5em;
    margin-bottom: 0.3em;
    visibility: hidden;
}

.down_arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    visibility: hidden;
}


input {
  outline-color: black;
}

#inner_input_fixed_text {
  background-color: transparent;
  color: #ccc;
  z-index: 1;
  position: absolute;
  left: 24em;
  top:  34.6em;
  font-size: .6em;
}

#orders_sec {
  margin-bottom: 1em;
  tr {
    margin-right: 1em;
  }
  th {
    margin-top: 1em;
  }
  td {
    margin-top: 20em;
  }
  tr:hover {
    color:red;
    th {
      color: #333333;
    }
  }
}

.inline_block_s {
  display: inline-block;
}

#coin_0_balance_label {
  margin-right: 1em;
}

#coin_1_balance_label {
  margin-right: 1em;
}

.balance_pair_values_div{
  width: 150px;
}

#price_label {
}

#ao_0 span {
  visibility: hidden;
  color: #ACB6E5;
  font-size: 0.8em;
}

#ao_1 span {
  visibility: hidden;
  color: #ACB6E5;
  font-size: 0.8em;
}

#trading_pair {
  border: solid;
  text-align: center;
  width: 9em;
}

#exchange {
  margin-top: 0px;
}

.current_league a{
  color: white;
}

.block_sec {
  padding: .5em .7em 0em .7em;
}

#order_sec {
  padding-top: 1em
}

#coin_price {
  color: black;
  margin-bottom: 2em;
  margin-left: 1.7em;
}

#buy_btn {
  margin-bottom: 1em;
  background: #ACB6E5;
  border-style: outset;
  margin-right: 2em;
}

.balance_pair_values {
 color: black;
}


.buy_sell_btns {
  outline: none;
}

#sell_btn {
  margin-right: 10px;
  background: transparent;
  border-style: inset;
}

#capital_percentage {
  margin-top: 1em;
  label {
    border-style: outset;
    border-width: thin;
    font-size: 0.55em;
    padding: .4em;
    background: transparent;
  }
  input {
    opacity: 0;
    position: absolute;
    margin-top: .4em;
    cursor: pointer;
    margin-left: -2em;
    width: 45px;
    height: 20px;
  }
}

#allocation_box {
  margin: 1em;
}

#order_btn {
  display: block;
  outline: none;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #ACB6E5;
  border-style: groove;
  margin-left: auto;
  margin-right: auto;
}

#coin_quantity {
  width: 10em;
  margin-left: 1em;
}


#amount_label {
  font-weight: normal;
}


.spinner {
  height: 15px;
  display: inline-block;
  >div {
    background-color: black;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* grid system -- mobile first! */
.wrapper {
  display: grid;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  #order_sec {
    grid-row:2/3;
  }
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
}
