// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_player_fields {
  margin-bottom: 10px;
}

#new_player_username_field{
  margin-right: 59px;
} 
#new_player_email_field{
  margin-right: 91px;
}
#new_player_password_field{
  margin-right: 61px;
}
#new_player_confirm_password_field{
  margin-right: 5px;
}

#delete-account {
  margin-top: 2em;
}


#delete-account a{
  font-size: 1em;
  margin-left: 2em;
}

#edit_player_title {
  display: inline-block;
}

#delete-account a:hover{
  color: red;
  text-decoration: none;
}

.pp-username {
  margin-bottom: 1em;
}

.pp-other-data {
  margin-bottom: 0.5em;
  
}