// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
  padding: 10px;
  margin-right: 15%;
}

#player_dashboard th{
  padding: 5px;
}

#player_dashboard {
  padding: 10px;
  margin-right: 5%;
  border-style: solid;
}

#dashboard_values {
  text-align: center;
  margin-left: 10px;
}

.login_form_titles {
  margin-right: 10px;
}