// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_user_fields {
  margin-bottom: 10px;
}

#new_user_username_field{
  margin-right: 59px;
}
#new_user_email_field{
  margin-right: 91px;
}
#new_user_password_field{
  margin-right: 61px;
}
#new_user_confirm_password_field{
  margin-right: 5px;
}

#delete-account {
  margin-top: 2em;
  a {
    font-size: 1em;
    margin-left: 2em;
    &:hover{
      color: red;
      text-decoration: none;
    }
  }
}

#edit_user_title {
  display: inline-block;
}

.pp-name {
  margin-bottom: 1em;
}

.pp-other-data {
  margin-bottom: 0.5em;
}
